*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
}

body{
    background-color: #fff;
}

h1{
    text-align: center;
    margin-bottom: 2%;
    color:aliceblue;
}

form{
    width: 50%;
    height: auto;
    margin:  0 auto;
    background-color: rgba(49, 206, 133, 0.041);
    padding: 3%;
    border-radius: 5px;
    margin-bottom: 20px;
}

label{
    display: inline-block;
    color: #fff;
}
/* ------------- seletor para pegar o tipo do input visto no yt ------------- */
input[type='text'], input[type='password']{
    width: 100%;
    outline: none;
    margin: 5px 0;
    border-radius: 3px;
    padding: 5px 5px;
    border: 0;
}

input[type='submit']{
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 0;
    padding: 6px;
    border-radius: 3px;
    background-color: rgb(41, 68, 41);
    color: #fff;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

/* --------------------- nivel de prioridade hierarquia yt--------------------- */
a > button{
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 5px 2px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: rgb(41, 68, 41);
}